# Ignore every file and folder
*
*/

# Allow .gitignore files everywhere
!.gitignore
!**/.gitignore

# Allow list for the current folder
!.gitattributes
!.github/
!.npmrc
!biome.json
!examples/
!examples/**
!LICENSE
!mise.toml
!package-lock.json
!package.json
!packages/
!packages/**
!pnpm-lock.yaml
!pnpm-workspace.yaml
!README.md
!tsconfig.json
