# Ignore every file and folder
*
*/

# Allow .gitignore files everywhere
!.gitignore
!**/.gitignore

# Allow list for the current folder
!.github/
!.gitattributes
!.mise.toml
!.npmrc
!package.json
!package-lock.json
!pnpm-lock.yaml
!pnpm-workspace.yaml
!README.md
!biome.json
!tsconfig.json
!LICENSE
!packages/
!packages/**
